# python 
*.pyc
.pytest_cache
.benchmarks
dist/
*.egg-info/

# rust 
rust/target
Cargo.lock
cg_rustpy/*.pyd

# IDEs etc
.idea/
.vscode/
!.vscode/tasks.json
!.vscode/launch.json

cmake-build*/
_build/
.build/
.vs/
/**/out/build
build/

# venv
.venv

# pixi environments
.pixi/*
!.pixi/config.toml
