[package]
name = "cg_rustpy"
version = "0.1.0"
edition = "2024"

[lib]
name = "cg_rustpy"
crate-type = ["cdylib"]


[dependencies]
pyo3 = { version = "0.27" }
numpy = "0.27"


[profile.release]
opt-level = 3
lto = true
overflow-checks = false
